.card {
  list-style-type: none;
  max-width: none;
  padding-block: $ic-700;
  padding-inline: $ic-200;
  margin-block-start: 0;

  article {
    max-width: none;
  }
}

.card__meta {
  position: absolute;
  top: 0;
  left: 0;
}

.card__img {
  block-size: 250px;
  inline-size: 100%;
  object-fit: cover;
}

.card--service {
  background-color: #007D72;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}