.cta {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 20px;
}

.cta__inner {
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    background-color: rgba($white, .6);
}