.cta {
    border-top-right-radius: clamp(50px, 10vw, 100px);
    border-bottom-left-radius: clamp(50px, 10vw, 100px);
    padding: 20px;
}

.cta__inner {
    border-top-right-radius: clamp(40px, 10vw, 90px);
    border-bottom-left-radius: clamp(40px, 10vw, 90px);
    background-color: rgba($white, .6);
}