.hero {
  position: relative;
  background: linear-gradient(180deg, #00635b 60%, #006e63, #00796a, #008571, #009078, #009c7d, #00a783, #00b388);
  display: grid;

  > * {
    grid-area: 1/-1;
  }

  // @include breakpoint(md) {
  //   height: 75vh;
  //   max-height: 700px;
  // }
}

.hero .col {
  margin: auto 0;
}

.hero__subheading {
  font-family: $primary-font;
  font-size: $ic-200;
  opacity: .8;
  max-width: none;
  margin-block-start: 8px;
}

.hero__body {
  max-width: 550px;
}

.hero__image {
  position: relative;

  @include breakpoint(md) {
    top: 40px;
  }
}

.hero .canon-logo-mark {
  display: none;

  @include breakpoint(sm) {
    display: block;
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 3;
    transform: translate(-50%, -50%);
  }
}

.hero__cta-small {
  position: relative;
  z-index: 1;
}