<section aria-labelledby="{{ .heading | urlize }}" class="intro block-xl bg-gray bg-gray--right">
  <div class="wrapper-lg columns gap-xl">
    <div class="col">
      {{ partial "responsive-image" . }}
    </div>
    <div class="intro__content col">
      {{ partial "heading" . }}
      {{ if .body }}
        <div>{{ .body | markdownify }}</div>
      {{ end }}
      {{ if .button.enabled }}
        {{ with .button }}
          {{ partial "button-primary" . }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
