{{ define "main" }}
{{ partial "hero" . }}
{{ if .Params.intro.enabled }}
  {{ with .Params.intro }}
  <section aria-labelledby="{{ .heading | urlize }}" class="block">
    <div class="wrapper-lg flow">
        {{ partial "heading" . }}
        <div class="flow">{{ .body | markdownify }}</div>
    </div>
  </section>
  {{ end }}
{{ end }}
<div class="block">
  <div class="wrapper-lg columns-two-thirds-left gap-md">
    <div class="col">
      <div class="contact-form">
        <div class="contact-form__wrapper">
          {{ partial "forms/contact-form" . }}
        </div>
      </div>
    </div>
    <div class="col">
      {{ partial "contact-info" . }}
    </div>
  </div>
</div>
{{ end }}